body {
    font-family: 'Playfair Display', serif;
}

#personal-data {
    background-color: lightseagreen;
}

#profile-img {
    border-radius: 50%;
}

#about-me {
    background-color: #c5cdec;
}

#name {
    font-weight: 700;
}

.text-about {
    font-size: 24px;
}

.padd-10 {
    padding: 10%;
}

#skills-lang {
    padding-top: 0;
}
